<nav class="bar bar-tab">
  <a class="tab-item external active" href="#" id="remind_button">
    <span class="icon icon-home"></span>
    <span class="tab-label">催办</span>
  </a>
  <a class="tab-item external active" href="#" id="withdraw_button">
    <span class="icon icon-me"></span>
    <span class="tab-label">撤回</span>
    <span class="badge">2</span>
  </a>
  <a class="tab-item external active" href="#" id="resubmit_button">
    <span class="icon icon-star"></span>
    <span class="tab-label">重新提交</span>
  </a>
</nav>