<nav class="bar bar-tab">
  <a class="tab-item external active" href="#" data-access="ACCEPT">
    <span class="icon icon-home"></span>
    <span class="tab-label">同意</span>
  </a>
  <a class="tab-item external active" href="#" data-access="REJECT">
    <span class="icon icon-me"></span>
    <span class="tab-label">驳回</span>
    <span class="badge">2</span>
  </a>
  <a class="tab-item external active" href="#" data-access="REASSIGN">
    <span class="icon icon-star"></span>
    <span class="tab-label">转审</span>
  </a>
</nav>
