<div class="upload-item">
  <div class="upload-img-content">
    <img class="upload-img" src="{{#if this}}{{this}}{{else}}{{''}}{{/if}}" width="100%"/>
  </div>
  <div class="upload-delete"><span class="icon icon-remove"></span></div>
</div>